body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: auto;
}

form {
    margin-bottom: 20px;
}

input[type="file"], input[type="text"], input[type="password"], select {
    margin-bottom: 10px;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 auto 10px;
}

button {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button:hover {
    background: #0056b3;
}

#results {
    margin-top: 20px;
    overflow-x: auto;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.results-table th, .results-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

.results-table th {
    background-color: #007bff;
    color: #fff;
}

.results-table td {
    background-color: #f8f9fa;
}

@media (max-width: 768px) {
    input[type="text"], input[type="password"], input[type="file"], button, select {
        width: 100%;
    }
}
